<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-8">
    <p-tabView>
      <p-tabPanel header="公司">
        <p-card header="公司">
          <p-tabView>
            <p-tabPanel header="所有公司">
              <div class="flex justify-content-end mb-3">
                <p-button icon="pi pi-plus" (click)="openAddCompany()" severity="warning" [text]="true"></p-button>
              </div>
              <p-dataView [value]="companiesData">
                <ng-template let-product pTemplate="listItem">
                  <div pRipple class="col-6 styled-box" (click)="goToCompany(product.id)">
                    <div class="flex flex-column align-items-center xl:flex-row xl:align-items-start p-3 gap-4">
                      <img class="w-8 sm:w-5rem xl:w-3rem" [src]="'assets/image/car3.jpg'"/>
                      <div
                        class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                          <div class="font-bold xl:text-lg font-bold">{{ product.name }}</div>
                          <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-at text-xs"></i>
                                <span class="font-medium text-xs">{{ product.name }}</span>
                                  </span>
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="font-medium text-xs">{{ product.address }}</span>
                                </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </p-tabPanel>
          </p-tabView>
        </p-card>
      </p-tabPanel>
      <p-tabPanel header="聯絡人">
        <p-card header="聯絡人">
          <p-tabView>
            <p-tabPanel header="所有聯絡人">
              <div class="flex justify-content-end mb-3">
                <p-button icon="pi pi-plus" (click)="openAddCustomer()" severity="warning" [text]="true"></p-button>
              </div>
              No results found ...
            </p-tabPanel>
          </p-tabView>
        </p-card>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<p-dialog header="新增公司" [(visible)]="addCompanyVisible" [modal]="true" [style]="{ width: '40vw' }"
          [draggable]="false" [resizable]="false">
  <div class="grid">
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">公司名稱</label>
      <input pInputText/>
    </div>
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">公司類別</label>
      <p-dropdown></p-dropdown>
    </div>
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">電話</label>
      <input pInputText/>
    </div>
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">行業</label>
      <input pInputText/>
    </div>
  </div>
  <div class="flex justify-content-end">
    <p-button label="新增" severity="warning" styleClass="mr-2"></p-button>
    <p-button label="取消" (click)="addCustomerVisible=false" severity="secondary" [outlined]="true"></p-button>
  </div>
</p-dialog>

<p-dialog header="新增聯絡人" [(visible)]="addCustomerVisible" [modal]="true" [style]="{ width: '40vw' }"
          [draggable]="false" [resizable]="false">
  <div class="grid">
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">公司</label>
      <p-dropdown></p-dropdown>
    </div>
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">姓名</label>
      <input pInputText/>
    </div>
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">稱謂</label>
      <p-dropdown></p-dropdown>
    </div>
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">行動電話</label>
      <input pInputText/>
    </div>
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">公司電話</label>
      <input pInputText/>
    </div>
    <div class="field col-12 md:col-6 lg:col-6">
      <label class="font-semibold">電子郵件</label>
      <input pInputText/>
    </div>
  </div>
  <div class="flex justify-content-end">
    <p-button label="新增" severity="warning" styleClass="mr-2"></p-button>
    <p-button label="取消" severity="secondary" [outlined]="true" (click)="addCompanyVisible=false"></p-button>
  </div>
</p-dialog>

