<div class="overflow-x-hidden">
  <div class="col-12">
    <p-table>
      <ng-template pTemplate="caption">
        <div class="flex align-items-center justify-content-between">
          里程統計
          <p-toggleButton onIcon="pi pi-chevron-left" offIcon="pi pi-chevron-right" class="mb-2"
                          [ngModel]="false"
                          (ngModelChange)="toggleSidebar()"></p-toggleButton>
        </div>
      </ng-template>
    </p-table>
  </div>
  <div class="flex justify-content-between">
    <div [ngClass]="getMiddleDivClass()">
      <p-card>
<!--        <div class="text-center">-->
<!--          <i class="pi pi-exclamation-triangle" style="font-size: 3rem"></i>-->
<!--          <h4>查無資料</h4>-->
<!--          <p>請在右側選擇查詢選項</p>-->
<!--        </div>-->
        <p-table [value]="vehiclesData">
          <ng-template pTemplate="header">
            <tr>
              <th>車牌</th>
              <th>姓名</th>
              <th>開始日期</th>
              <th>結束日期</th>
              <th>行駛公里</th>
              <th>總耗油(公升)</th>
              <th>總耗油費用</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product>
            <tr>
              <td>{{ product.license_plate }}</td>
              <td>{{ product.driver }}</td>
              <td> - </td>
              <td> - </td>
              <td> - </td>
              <td> - </td>
              <td> - </td>
            </tr>
          </ng-template>
        </p-table>
      </p-card>
    </div>
    <div class="col-12 md:col-12 lg:col-3" *ngIf="sidebarRightOpen">
      <div [ngClass]="{'sidebar-open': sidebarRightOpen}">
        <p-card *ngIf="sidebarRightOpen" header="車隊查詢">
          <div class="grid">
            <div class="col-6">
              <p-dropdown optionLabel="name" placeholder="選擇車隊"></p-dropdown>
            </div>
            <div class="col-6">
              <p-dropdown [options]="cars"
                          (click)="getAllVehiclesRequest()"
                          optionLabel="name"
                          placeholder="選擇車牌"></p-dropdown>
            </div>
            <div class="col-6">
              <p-calendar [showTime]="true" [ngModel]="startDate" (onSelect)="onStartDateChange($event)"
                          [defaultDate]="startDate" [maxDate]="maxDate"
                          placeholder="選擇開始時間"></p-calendar>
            </div>
            <div class="col-6">
              <p-calendar [showTime]="true" [ngModel]="endDate" (onSelect)="onEndDateChange($event)"
                          [defaultDate]="maxDate" [maxDate]="maxDate"
                          placeholder="選擇結束時間"></p-calendar>
            </div>
            <div class="col-12 flex justify-content-between">
              <div class="card flex justify-content-center gap-3">
                <div class="flex align-items-center gap-1">
                  <p-checkbox value="New York" inputId="ny"></p-checkbox>
                  <label>未出車顯示</label>
                </div>
              </div>
              <p-button label="查詢" (click)="search()"></p-button>
            </div>
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>
