<!--<h1>Jsmpeg Player</h1>-->
<!--<div>-->
<!--  <canvas id="videoCanvas" width="640" height="480"></canvas>-->
<!--</div>-->

<!--<vg-player>-->
<!--  <video #media-->
<!--         #vgHls="vgHls"-->
<!--         [vgMedia]="$any(media)"-->
<!--         [vgHls]="'rtsp://localhost:554/test'"-->
<!--         id="singleVideo"-->
<!--         controls-->
<!--         crossorigin>-->
<!--  </video>-->
<!--</vg-player>-->

<!--<h2 id="message"></h2>-->
<!--<webrtc-streamer-->
<!--  id="stream"-->
<!--  [options]="options"-->
<!--  [style.display]="streamDisplayStyle"-->
<!--&gt;</webrtc-streamer>-->

<!--<h2 id="message"></h2>-->
<!--<webrtc-streamer url="rtsp://localhost:554/test"></webrtc-streamer>-->
