<div class="flex justify-content-center">
  <div class="col-3 mt-8">
    <p-card>
      <div class="success-checkmark">
        <div class="check-icon">
          <span class="icon-line line-tip"></span>
          <span class="icon-line line-long"></span>
          <div class="icon-circle"></div>
          <div class="icon-fix"></div>
        </div>
      </div>
      <h1 class="ty text-center">您的付款已確認。 謝謝！</h1>
      <h5 class="text-center">將在 <span id="countdown">{{ countdown }}</span> 秒回到首頁。</h5>
    </p-card>
  </div>
</div>
