<div class="mt-2">
  <div class="flex justify-content-center">
    <div class="col-8">
      <p-card>
        <h1 class="text-center">派工單</h1>
        <div class="grid">
          <div class="col-12">
            <div class="flex justify-content-between">
              <div class="font-medium text-sm">20231019</div>
              <div class="font-medium text-sm">236-M3</div>
            </div>
            <p-divider></p-divider>
          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
              <label class="font-semibold"><span class="text-red-600">*</span>託運人</label>
              <input pInputText/>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
              <label class="font-semibold">板台號碼</label>
              <input pInputText/>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
              <label class="font-semibold"><span class="text-red-600">*</span>品名</label>
              <input pInputText/>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
              <label class="font-semibold">單價</label>
              <input pInputText/>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
              <label class="font-semibold">件數</label>
              <input pInputText/>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
              <label class="font-semibold">噸位</label>
              <input pInputText/>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
              <label class="font-semibold"><span class="text-red-600">*</span>起運點</label>
              <input pInputText/>
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-6">
            <div class="field">
              <label class="font-semibold"><span class="text-red-600">*</span>卸貨點</label>
              <input pInputText/>
            </div>
          </div>
          <div class="col-12">
            <div class="flex justify-content-end">
              <p-button label="加入" styleClass="p-button-outlined p-button-info"></p-button>
            </div>
            <p-divider></p-divider>
            <h3>派工明細</h3>
            <p-table [value]="list" [tableStyle]="{ 'min-width': '50rem' }">
              <ng-template pTemplate="header">
                <tr>
                  <th>託運人</th>
                  <th>板台號碼</th>
                  <th>品名</th>
                  <th>單價</th>
                  <th>件數</th>
                  <th>噸位</th>
                  <th>起運點</th>
                  <th>卸貨點</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-list>
                <tr>
                  <td>{{ list.shipper }}</td>
                  <td>{{ list.pallet }}</td>
                  <td>{{ list.product_name }}</td>
                  <td>{{ list.unit_price }}</td>
                  <td>{{ list.quantity }}</td>
                  <td>{{ list.tonnage }}</td>
                  <td>{{ list.origin }}</td>
                  <td>{{ list.destination }}</td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </p-card>
    </div>
  </div>
</div>
