<div class="flex grid bg-blue-900">
  <div class="col-12 md:col-12 lg:col-7"
       style="background-image: url(https://images.unsplash.com/photo-1517953377824-516f2dca803b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2689&q=80)">
    <div class="flex items-center h-full p-8">
      <div>
        <h2 class="text-4xl font-bold text-white">iCar 車隊管理系統</h2>
        <p class="max-w-xl mt-3 text-gray-300">
          長輝資訊科技GPS車隊監控App，可以隨時掌握車輛即時位置與動態資訊，也提供車輛軌跡與各式報表的查詢，是最佳的車隊管理利器。</p>
      </div>
    </div>
  </div>
  <p-toast></p-toast>
  <div class="col-12 md:col-12 lg:col-5">
    <div class="login-container mt-5 mb-5">
      <form [formGroup]="login_form" [ngClass]="{'flip-front': showBack}">
        <div class="card-container">
          <!-- 正面 -->
          <p-card class="front" *ngIf="!showBack">
            <div class="logo">
              <i class="pi pi-key"></i>
              <span>天網熊貓</span><br>
              <span class="mt-2">SkyNet Panda</span>
            </div>

            <div class="p-field">
              <!--                <label for="fleet_code">車隊ID</label>-->
              <input id="fleet_code" placeholder="車隊代號" formControlName="fleet_code" type="text" pInputText/>
            </div>
            <div class="p-field mt-2">
              <!--                <label for="user_name">帳號ID</label>-->
              <input id="user_name" placeholder="帳號" formControlName="user_name" type="text" pInputText/>
            </div>
            <div class="p-field mt-2">
              <!--                <label for="password">密碼</label>-->
              <input id="password" placeholder="密碼" formControlName="password" type="password" pInputText/>
            </div>
            <div class="p-field mt-4 flex justify-content-between">
              <p-checkbox id="rememberMe" [binary]="true" label="記住密碼"></p-checkbox>
              <p-checkbox id="autoLogin" [binary]="true" label="自動登入"></p-checkbox>
            </div>
            <div class="p-field">

              <p-button (click)="login()" label="登入"
                        class="flex justify-content-center align-items-center mt-4"></p-button>
            </div>
            <div class="col-12 flex justify-content-center mt-4">
              <span class="text-xs">未註冊帳號?
                <button class="text-button" (click)="toggleCard()">註冊</button>
              </span>
            </div>
          </p-card>
          <form [formGroup]="register_form">
            <!-- 背面 -->
            <p-card class="back" *ngIf="showBack">
              <div class="logo">
                <i class="pi pi-key"></i>
                <span>天網熊貓</span><br>
                <span class="mt-2">SkyNet Panda</span>
              </div>
              <div class="col-12 mt-4">
                <input pInputText placeholder="車隊代號" formControlName="fleet_code">
              </div>
              <div class="col-12 mt-1">
                <input pInputText placeholder="姓名" formControlName="name">
              </div>
              <div class="col-12 mt-1">
                <input pInputText placeholder="電話號碼" formControlName="phone_number1">
              </div>
              <div class="col-12 mt-1">
                <input pInputText placeholder="帳號" formControlName="user_name">
              </div>
              <div class="col-12 mt-1">
                <input pInputText placeholder="密碼" formControlName="password">
              </div>
              <div class="col-12 mt-1">
                <input pInputText placeholder="確認密碼">
              </div>
              <div class="col-12">
                <div class="flex justify-content-center align-items-center mt-1">
                  <p-button (click)="register()" label="註冊"></p-button>
                </div>
              </div>
              <div class="col-12 flex justify-content-center mt-4">
              <span class="text-xs">擁有帳號?
                <button class="text-button" (click)="toggleCard()">登入</button>
              </span>
              </div>
            </p-card>
          </form>
        </div>
      </form>
    </div>
  </div>
</div>


