<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-8">
<!--    <p-tabView>-->
<!--      <p-tabPanel header="派工單">-->
        <p-card header="託運訂單">
          <p-tabView>
            <p-tabPanel header="所有訂單">
              <div class="flex justify-content-end mb-3">
                  <p-button routerLink="/dispatch_form" icon="pi pi-plus" severity="info" [text]="true"></p-button>
              </div>
              <p-dataView [value]="list">
                <ng-template let-list pTemplate="listItem">
                  <div pRipple class="col-4 styled-box" (click)="goToForm(list.id)">
                    <div class="flex flex-column align-items-center xl:flex-row xl:align-items-start p-3 gap-4">
                      <div
                        class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                          <div class="text-lg font-bold">{{ list.name }}</div>
                          <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-calendar text-xs"></i>
                                <span class="font-medium text-xs">{{ list.created_at }}</span>
                                  </span>
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="font-medium text-xs">{{ list.id }}</span>
                                </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </p-tabPanel>
          </p-tabView>
        </p-card>
<!--      </p-tabPanel>-->
<!--    </p-tabView>-->
  </div>
</div>
