<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-8">
<!--    <p-tabView>-->
<!--      <p-tabPanel header="派工單">-->
        <p-card header="派工單">
          <p-tabView>
            <p-tabPanel header="所有派工單">
              <div class="flex justify-content-end mb-3">
                <div class="flex justify-content-end mb-3">
                  <p-button routerLink="/dispatch_form" icon="pi pi-plus" styleClass="p-button-info p-button-text"></p-button>
                </div>
              </div>
            </p-tabPanel>
          </p-tabView>
        </p-card>
<!--      </p-tabPanel>-->
<!--    </p-tabView>-->
  </div>
</div>
