<p-toast></p-toast>
<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-8">
    <p-tabView [(activeIndex)]="activeIndex">
      <p-tabPanel header="車隊">
        <p-card header="車隊">
          <p-tabView>
            <p-tabPanel header="所有車隊">
              <div class="flex justify-content-end mb-3">
                <p-button (click)="addFleetDialogVisible = true" severity="warning" [text]="true" icon="pi pi-plus"></p-button>
              </div>
              <p-dataView [value]="fleetsData">
                <ng-template let-product pTemplate="listItem">
                  <div pRipple class="col-6 styled-box" (click)="goToFleet(product.id)">
                    <div class="flex flex-column align-items-center xl:flex-row xl:align-items-start p-3 gap-4">
                      <img class="w-8 sm:w-5rem xl:w-3rem" [src]="'assets/image/car1.png'"/>
                      <div
                        class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                          <div class="font-bold xl:text-lg font-bold">{{ product.name }}</div>
                          <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-at text-xs"></i>
                                <span class="font-medium text-xs">{{ product.fleet_code }}</span>
                                  </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </p-tabPanel>
          </p-tabView>
        </p-card>
      </p-tabPanel>
      <p-tabPanel header="車輛">
        <p-card header="車輛">
          <p-tabView>
            <p-tabPanel header="所有車輛">
              <div class="flex justify-content-end mb-3">
                <p-button (click)="openAddCarDialog()"
                          icon="pi pi-plus" severity="warning" [text]="true"></p-button>
              </div>
              <p-dataView [value]="vehiclesData">
                <ng-template let-product pTemplate="listItem">
                  <div pRipple class="col-6 styled-box" (click)="goToVehicle(product.id)">
                    <div class="flex flex-column align-items-center xl:flex-row xl:align-items-start p-3 gap-4">
                      <img class="w-8 sm:w-5rem xl:w-3rem" [src]="'assets/image/sport-car.png'"/>
                      <div
                        class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                          <div class="font-bold xl:text-lg font-bold">{{ product.name }}</div>
                          <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-at text-xs"></i>
                                <span class="font-medium text-xs">{{ product.driver }}</span>
                                  </span>
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="font-medium text-xs">{{ product.license_plate }}</span>
                                </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </p-tabPanel>
          </p-tabView>
        </p-card>
      </p-tabPanel>
      <p-tabPanel header="車機">
        <p-card header="車機">
          <p-tabView>
            <p-tabPanel header="所有車機">
              <p-dataView [value]="gpsDevicesData">
                <ng-template let-product pTemplate="listItem">
                  <div pRipple class="col-6 styled-box" (click)="goToGpsDevice(product.id)">
                    <div class="flex flex-column align-items-center xl:flex-row xl:align-items-start p-3 gap-4">
                      <img class="w-8 sm:w-5rem xl:w-3rem" [src]="'assets/image/circle.png'"/>
                      <div
                        class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                          <div class="font-bold xl:text-lg font-bold">{{ product.sid }}</div>
                          <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-at text-xs"></i>
                                <span class="font-medium text-xs">{{ product.firm }}</span>
                                  </span>
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="font-medium text-xs">{{ product.model }}</span>
                                </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </p-tabPanel>
          </p-tabView>
        </p-card>
      </p-tabPanel>
      <p-tabPanel header="板車">
        <p-card header="板車">
          <p-tabView>
            <p-tabPanel header="所有板車">
              <p-dataView [value]="trailersData">
                <ng-template let-product pTemplate="listItem">
                  <div pRipple class="col-6 styled-box" (click)="goToGpsDevice(product.id)">
                    <div class="flex flex-column align-items-center xl:flex-row xl:align-items-start p-3 gap-4">
                      <img class="w-8 sm:w-5rem xl:w-3rem" [src]="'assets/image/circle.png'"/>
                      <div
                        class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                          <div class="font-bold xl:text-lg font-bold">{{ product.name }}</div>
                          <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-at text-xs"></i>
                                <span class="font-medium text-xs">{{ product.id }}</span>
                                  </span>
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="font-medium text-xs">{{ product.type }}</span>
                                </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </p-tabPanel>
          </p-tabView>
        </p-card>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<!--新增車隊-->
<p-dialog header="新增車隊" [(visible)]="addFleetDialogVisible" [modal]="true" [style]="{ width: '40vw' }"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="addFleet_form">
    <div class="col-12">
      <div class="field">
        <label class="font-semibold">車隊代號</label>
        <input formControlName="fleet_code" pInputText/>
      </div>
      <div class="field">
        <label class="font-semibold">車隊名稱</label>
        <input formControlName="name" pInputText/>
      </div>
      <div class="flex justify-content-end">
        <p-button label="取消" (click)="closeAddFleetDialog()" [outlined]="true" severity="secondary"
                  styleClass="mr-2"></p-button>
        <p-button (click)="postFleetRequest()" label="新增" severity="warning"></p-button>
      </div>
    </div>
  </form>
</p-dialog>

<!--新增車輛-->
<p-dialog header="新增車輛" [(visible)]="addCarDialogVisible" [modal]="true" [style]="{ width: '40vw' }"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="addVehicle_form">
    <div class="col-12">
      <div class="field">
        <label class="font-semibold">車輛名稱</label>
        <input formControlName="name" pInputText/>
      </div>
      <div class="field">
        <label class="font-semibold">車牌號碼</label>
        <input formControlName="license_plate" pInputText/>
      </div>
      <div class="field">
        <label class="font-semibold">司機名稱</label>
        <p-dropdown formControlName="driver" [options]="driverData" optionLabel="name" placeholder="選擇司機" appendTo="body"></p-dropdown>
      </div>
      <div class="field">
        <label class="font-semibold">車機號碼</label>
        <p-dropdown formControlName="sid" [options]="gpsDevicesData" optionLabel="sid" placeholder="選擇車機" appendTo="body"></p-dropdown>
      </div>
      <div class="flex justify-content-end">
        <p-button label="取消" (click)="closeAddCarDialog()" [outlined]="true" severity="secondary"
                  styleClass="mr-2"></p-button>
        <p-button (click)="postVehicleRequest()" label="新增" severity="warning"></p-button>
      </div>
    </div>
  </form>
</p-dialog>
