:host ::ng-deep {

  /* 第一層 menu */
  .p-panelmenu .p-panelmenu-header .p-panelmenu-header-content {
    border: none;
    background: none;
    &:hover{
      border-radius: 6px;
    }
  }

  /* 第二層 menu */
  .p-panelmenu .p-panelmenu-content {
    border: none;
    background: none;
  }

  .p-panelmenu .p-menuitem-text {
    flex-grow: 1;
  }

  .p-icon-wrapper {
    order: 1;
  }

  /* sidebar 陰影 */
  .p-sidebar {
    box-shadow: none;
  }

  .p-calendar {
    width: 100%;
    border-radius: 6px;
  }

  .p-inputtext, .p-multiselect, .p-inputnumber {
    width: 100%;
    border-radius: 6px;
  }

  .p-dropdown {
    width: 100%;
    border-radius: 6px;
  }

  .p-panel .p-panel-header {
    border: 1px solid #DBCBA4;
    padding: 1rem;
    background: rgba(255, 205, 89);
    color: #495057;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  .p-panel .p-panel-content {
    padding: 1rem;
    border: 1px solid #DBCBA4;
    background: #fffffb;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 0 none;
  }

  .p-timeline-event-opposite {
    display: none; /* 隱藏opposite */
  }

  .p-timeline .p-timeline-right {
    float: none; /* 取消右側內容浮動 */
    width: auto; /* 自動寬度 */
  }

}
