<div class="col-12">
  <p-table>
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <div>
          多車監控
<!--          <p-button icon="pi pi-plus" styleClass="p-button-text"-->
<!--                    (click)="addNewTab()"></p-button>-->
        </div>
        <div>
          <p-toggleButton onIcon="pi pi-chevron-left" offIcon="pi pi-chevron-right"
                          [ngModel]="false" (ngModelChange)="toggleSidebar()"></p-toggleButton>
        </div>
      </div>
    </ng-template>
  </p-table>
  <div class="grid">
    <div [ngClass]="getMiddleDivClass()">
      <p-tabView (onChange)="check($event)" (onClose)="close($event)" [selectOnFocus]="true">
        <p-tabPanel *ngFor="let search of Panels; let i = index" [closable]="closable()">
          <ng-template pTemplate="header">
            <span>多車查詢{{search}}</span>
          </ng-template>
          <div class="grid">
            <ng-container *ngFor="let selected of selectedProduct">
              <google-map class="border-3" [ngClass]="showLayout()" height="100%" width="100%"
                          [center]="selected.position" [zoom]="zoom" [options]="options">
                <map-marker #markerElem="mapMarker"
                            *ngFor="let marker of markers"
                            [position]="marker.position"
                            [title]="marker.title"
                            [icon]="marker.icon" (mapClick)="openInfo(markerElem,marker.label?.text)">
                </map-marker>
                <map-info-window>{{infoContent}}</map-info-window>
                <ng-container *ngIf="trafficVisable">
                  <map-traffic-layer [autoRefresh]="true"></map-traffic-layer>
                </ng-container>
              </google-map>
            </ng-container>
          </div>
        </p-tabPanel>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <label>+</label>
          </ng-template>
        </p-tabPanel>
      </p-tabView>
    </div>
    <div class="col-12 md:col-12 lg:col-4" *ngIf="sidebarRightOpen">
      <p-tabView>
        <p-tabPanel>
          <ng-template pTemplate="header">
            <span>車隊查詢</span>
          </ng-template>
          <p-toast></p-toast>
          <p-table [value]="products" [rows]="5" selectionMode="multiple" [scrollable]="true"
                   scrollHeight="90vh"
                   [(selection)]="selectedProduct" (selectionChange)="onSelectionChange($event)">
            <ng-template pTemplate="caption">
              <div class="flex justify-content-start">
                <p-toggleButton pTooltip="顯示路況" styleClass="border-circle" [(ngModel)]="trafficVisable"
                                onIcon="pi pi-truck" offIcon="pi pi-truck"></p-toggleButton>
              </div>
            </ng-template>
            <ng-template pTemplate="header">
              <tr>
                <th>
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
                <th>狀態累積</th>
                <th>狀態</th>
                <th>速度</th>
                <th>地址</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product>
              <tr>
                <td>
                  <p-tableCheckbox [value]="product"></p-tableCheckbox>
                </td>
                <td [pSelectableRow]="product">{{ product.statetime }}</td>
                <td [pSelectableRow]="product">{{ product.state }}</td>
                <td [pSelectableRow]="product">{{ product.speed }}</td>
                <td [pSelectableRow]="product">{{ product.addr }}</td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>

