<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-12">
    <div class="col-12">
      <p-button icon="pi pi-arrow-left" [routerLink]="['/e_tracking']"
                styleClass="p-button-lg p-button-rounded p-button-secondary p-button-text"></p-button>
    </div>
    <div class="flex justify-content-center">
      <div class="col-8">
        <p-card>
        <p-steps [model]="items" [readonly]="true"></p-steps>
        </p-card>
        <div class="grid flex align-items-center justify-content-start mt-3">
          <div class="col-12 text-3xl font-bold">運輸訂單01</div>
          <div class="col-12 text-base">A12345</div>
        </div>
      </div>
    </div>
  </div>
</div>

