<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-12">
    <div class="col-12">
      <p-button icon="pi pi-arrow-left" [routerLink]="['/e_tracking']"
                styleClass="p-button-lg p-button-rounded p-button-secondary p-button-text"></p-button>
    </div>
    <div class="flex justify-content-center">
      <div class="col-8 flex flex-wrap row-gap-2">
        <div class="col-12 flex align-items-center justify-content-start gap-2">
          <div class="text-3xl font-bold">運輸訂單01：</div>
          <div class="text-3xl">A12345</div>
          <p-tag severity="warning" value="運送中"></p-tag>
        </div>
        <p-divider class="w-full"></p-divider>
        <div class="col-12 driver-content">
          <div class="flex xl:flex-row xl:align-items-start p-2 gap-4">
            <img class="w-3 sm:w-10rem xl:w-4rem block xl:block mx-auto border-round" [src]="'assets/image/car2.png'"/>
            <div
              class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-center flex-1 gap-4">
              <div class="flex flex-column align-items-center sm:align-items-start gap-2">
                <div class="text-base text-700">司機</div>
                <div class="text-xl font-bold text-900">李宜蓁</div>
              </div>
              <div class="flex gap-2">
                <p-button label="撥打電話" icon="pi pi-phone"
                          styleClass="p-button-sm p-button-warning p-button-outlined"></p-button>
                <p-button label="傳送訊息" icon="pi pi-comments" styleClass="p-button-sm p-button-warning"></p-button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 driver-content">
          <div class="p-2">
            <div class="text-xl font-medium text-900 mb-4">運輸狀況</div>
            <div id="map" style="height: 50vh; width: 100%;"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
