<div class="flex justify-content-center">
  <div class="col-10">
    <h1>更新日誌</h1>
    <span class="text-xl">2023-9-1</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增行駛狀態表<a href="/driving_status" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">影像監控新增排列格式按鈕<a href="/monitor" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增多車監控頁面<a href="/multiCars" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">表格地址可由座標自動轉換<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="text-xl">2023-8-31</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增車輛移動軌跡</span>
    <br>
    <br>
    <br>
  </div>
</div>
