<div class="flex justify-content-center">
  <div class="col-10">
    <h1>更新日誌</h1>
    <span class="text-xl">2023-11-14</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">設定 - 自建地標<a href="/landmark">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">首頁 - 車輛狀態統計列<a href="/main">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">首頁 - 可繪製多邊形(尺按鈕)<a href="/main">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-11-13</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">託運訂單Api<a href="/dispatch_list">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車輛 - 保險紀錄<a href="/fleet_mgmt">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">公司 - 承辦人<a href="/customer">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">history重複查詢路徑亂掉<a href="/history">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">貨態追蹤<a href="/e_tracking">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">板車管理新增修改<a href="/trailers">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-11-10</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">更新</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">TMS - 畫面與資料整理</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">接clientAPI<a href="/customer">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-11-09</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">更新</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">TMS - 託運訂單<a href="/dispatch_list">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">零碳整合儀表板<a href="/esg_dashboard">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-11-08</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">零碳整合儀表板<a href="/esg_dashboard">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">保險管理<a href="/insurance" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">貨態查詢<a href="https://fmpc2c.jinher-net.com/e_tracking_view/" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">更新</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">fmp-checklist 上午研究swiper<a href="https://fmp-checklist.jinher-net.com/main" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-11-07</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">fmp-checklist 左側<a href="https://fmp-checklist.jinher-net.com/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">托運訂單 - 勾選框, 編輯鈕<a href="/dispatch_list" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">ESG下拉選項</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">修改公司貨物欄位, 倉庫資料<a href="/company/1" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">司機 - 出勤記錄<a href="/driver" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">更新</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">司機 - 遮掉 工號、每日成本</span>
    <br>
    <br>
    <span class="text-xl">2023-11-06</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">討論整體架構（2hrs）</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車機管理的刪除確認視窗<a href="/fleet_mgmt" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化板車畫面與CRUD<a href="/trailers" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">更新</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">sidebar標籤</span>
    <br>
    <br>
    <span class="text-xl">2023-11-03</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">測試</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">串流影像本地可輸出：http/https問題</span>
    <br>
    <br>
    <span class="text-xl">2023-11-02</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">派工調度 - drag&drop<a href="/dispatch_view/1" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">派工調度 - 取得運輸貨品清單資料<a href="/dispatch_view/1" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-11-01</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">dispatch-view<a href="/dispatch" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-31</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">貨態追蹤 - google map 中繼點資訊<a href="/e_tracking_view" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">更新</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">運輸訂單 -> 托運訂單<a href="/dispatch_list" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-30</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">pay-after<a href="/premium" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">overlay</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">更新</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">primeng16.2.0 -> 16.5.0</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">付款跳轉<a href="/premium" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">data-view RWD</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">更新車輛狀態時顏色變化<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-27</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">full-calendar<a href="/dispatch" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">vehicle data<a href="/fleet_mgmt" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-26</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">event full-calendar<a href="/dispatch_event" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車輛 dropdown data<a href="/fleet_mgmt" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-25</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車隊管理API - 操作訊息彈跳視窗<a href="/fleet_mgmt" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車隊管理API - 新增修改刪除<a href="/fleet_mgmt" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">倉儲管理 - 倉管 新增編輯畫面<a href="/warehouse_list" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">公司 - 倉儲 新增編輯畫面<a href="/customer" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">公司 - 倉管 新增編輯畫面<a href="/customer" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-24</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化 公司 - 倉儲<a href="/customer" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">公司 - 貨物品項<a href="/customer" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">新增貨物品項dialog<a href="/warehouse_list" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">倉管 - 貨物品項<a href="/warehouse_list" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">倉管<a href="/warehouse_list" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">data更新 map-marker偏移<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-23</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化貨態追蹤view <a href="/e_tracking_view" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-20</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化貨態追蹤<a href="/e_tracking" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化倉儲管理<a href="/warehouse_list" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">更新</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">運輸訂單<a href="/dispatch_list" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">派工與調度<a href="/dispatch" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">header未顯示</span>
    <br>
    <br>
    <span class="text-xl">2023-10-19</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">pp版本 - 註解未完成</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化派工單<a href="/dispatch_list" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化派工列表<a href="/dispatch_list" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-18</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車輛狀態顏色<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">首頁info重複顯示<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-17</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車輛狀態<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車機連接資料庫<a href="/fleet_mgmt" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">司機連接資料庫<a href="/driver" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-13</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車隊新增修改連接資料庫<a href="/fleet_mgmt" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車輛修改連接資料庫<a href="/vechicle/0" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">客戶資料頁面<a href="/customer" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-11</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">司機詳細頁面<a href="/driver/0" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">獨立司機頁面<a href="/driver" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-04</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化車隊管理<a href="/fleet_mgmt" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">menubarUI - 登出, 回Home</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">RippleModule</span>
    <br>
    <br>
    <span class="text-xl">2023-10-03</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">註冊API<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">新增車輛API<a href="/basic_data" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-10-02</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">引入對齊道路RoadApi<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">儲存每點之間連線的角度<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">測試</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">測試金流 - newebPay<a href="/premium" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">pay success & failed<a href="/premium" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">build error</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">路徑連成多邊形的問題</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">slider handle移動的錯誤</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">行進中突然轉向90度的問題</span>
    <br>
    <br>
    <span class="text-xl">2023-9-28</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">區域監控 - 凸顯點擊時的車輛<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">區域監控 - 車輛位址無法顯示<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-27</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">統計查詢 - 里程統計<a href="/mile" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車牌篩選：歷史軌跡、大餅報表</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">RWD - 區域、行駛狀態表、歷史軌跡</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">登入頁新增註冊翻轉頁</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">區域監控 - 地圖更新亂跑的問題<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">歷史軌跡 - 進度條和車輛動畫跟進倍速失敗<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-26</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">歷史軌跡 - 車輛路徑飄移<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-25</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">基本設定 - 基本資料<a href="/basic_data" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">基本設定 - 異常設定<a href="/odd_set" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">異常報表 - 初始化四個頁面<a href="/odd_report" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-23</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">區域監控 - 地址顯示位置改為上方<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">數位大餅 - zoomPlugin 可平移縮放<a href="/cake_report" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">數位大餅 - 時速表<a href="/cake_report" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">測試</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">Angular Signal<a href="/signal" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-22</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">car img<a href="/main" class="ml-1">查看功能</a><a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">車頭方位<a href="/main" class="ml-1">查看功能</a><a href="/history"
                                                                                            class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化記錄列表<a href="/record" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">初始化大餅報表<a href="/cake_report" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">修正</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-4"></span>
    <span class="vertical-align-middle">infowindow破圖<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-20</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">歷史軌跡 - 全景地圖<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">歷史軌跡 - 表格與歷史進度條互動<a href="/history"
                                                                          class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">區域監控 - 全景地圖<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">區域監控 - 取得車牌<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-19</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">歷史軌跡 - 可查詢時間播放歷史軌跡<a href="/history"
                                                                            class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-18</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">區域監控 - 每20秒更新車輛位置<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">歷史軌跡 - 預設時間＆全景顯示<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">區域監控 - 預設時間＆全景顯示<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-15</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">影像監控 - 更新影片格式<a href="/monitor" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">區域監控 - 右鍵新增地標Home圖示<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">區域監控 - 初始化 column-toggle<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-13</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">區域監控 - 點擊表格查看車輛目前位置<a href="/main"
                                                                              class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">區域監控 - 測量座標距離<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">測試 - 地圖繪畫功能<a href="/draw" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">測試 - rtsp 串流 (若沒有畫面，可能串流網址已中斷)<a href="/stream" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">多車監控 - 多視窗查詢 v2<a href="/multiCars" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-12</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">歷史軌跡 - 播放控制 v2<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">登入 - 帳號密碼連接後端 完成<a href="/login" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">登入 - 管理者 & 使用者 權限控制 完成</span>
    <br>
    <br>
    <span class="text-xl">2023-9-8</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">歷史軌跡 - 播放控制 v1<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">多車監控 - 多視窗查詢 v1<a href="/multiCars" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-6</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">InfoWindows全部開啟<a href="/history" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">多車監控排版<a href="/multiCars" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-5</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">地圖可可自行拉取圖形 oh YA !!<a href="/draw" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">影像監控新增側邊欄<a href="/monitor" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">地圖上顯示可編輯的多邊形<a href="/map" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-9-1</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增行駛狀態表<a href="/driving_status" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">影像監控新增排列格式按鈕<a href="/monitor" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增多車監控頁面<a href="/multiCars" class="ml-1">查看功能</a></span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">表格地址可由座標自動轉換<a href="/main" class="ml-1">查看功能</a></span>
    <br>
    <br>
    <span class="text-xl">2023-8-31</span>
    <br>
    <span class="vertical-align-middle text-3xl mr-2">•</span>
    <span class="vertical-align-middle">新增車輛移動軌跡</span>
    <br>
    <br>
  </div>
</div>
