<div class="login-container">
  <div class="login-card">
    <div class="logo">
      <i class="pi pi-key"></i> 天網熊貓
    </div>

      <div class="p-fluid">
        <div class="p-field">
          <label for="company">公司帳號</label>
          <input id="company" type="text" pInputText />
        </div>
      <div class="p-field">
        <label for="account">登入帳號</label>
        <input id="account" type="text" pInputText />
      </div>
      <div class="p-field">
        <label for="password">登入密碼</label>
        <input id="password" type="password" pInputText />
      </div>
      <div class="p-field">
        <p-checkbox id="rememberMe" label="記憶密碼"></p-checkbox>
      </div>
      <div class="p-field">
        <p-checkbox id="autoLogin" label="自動登入"></p-checkbox>
      </div>
      <div class="p-field">
        <button type="button" pButton icon="pi pi-sign-in" label="登入" class="p-button p-button-success"></button>
      </div>
    </div>
  </div>
</div>
