
.h1-1 {
  height: 85vh;
}

.h1-2 {
  height: 42vh;
}

.h1-3 {
  height: 27vh;
}

.h1-4 {
  height: 20vh;
}

:host ::ng-deep {

  .toggleMap {
    .p-togglebutton.p-button.p-highlight {
      width: 65vh;
      height: 1rem;
    }

    .p-togglebutton.p-button {
      width: 65vh;
      height: 1rem;
    }
  }

}
