<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-8">
    <p-tabView>
      <p-tabPanel header="概覽">
        <div class="flex justify-content-between">
          <div class="col-3">
            <div class="col-12 flex justify-content-center">
              <p-image src="assets/image/car1.png" alt="Image" width="150" [preview]="true"></p-image>
            </div>
            <div class="col-12 flex justify-content-center">
              <label class="text-xl font-light text-yellow-900">user_name</label>
            </div>
            <div *ngIf="!editable" class="col-12 mt-2 flex justify-content-center">
              <p-button (click)="edit()" label="編輯個人資料" size="small" [outlined]="true" severity="warning"
                        [style]="{'width': '13em'}"></p-button>
            </div>
            <div *ngIf="editable" class="mt-2">
              <div class="col-12">
                <div class="field">
                  <label class="text-sm font-semibold">姓名</label>
                  <input pInputText/>
                </div>
                <div class="field">
                  <label class="text-sm font-semibold">電話號碼</label>
                  <input pInputText/>
                </div>
                <div class="field">
                  <label class="text-sm font-semibold">修改密碼</label>
                  <input pInputText/>
                </div>
                <div class="flex justify-content-center">
                  <p-button (click)="cancel()" label="取消" severity="secondary" [outlined]="true"  size="small" styleClass="mr-2"></p-button>
                  <p-button (click)="save()" label="儲存" severity="warning" size="small" styleClass="mr-2"></p-button>
                </div>
              </div>
            </div>
          </div>
          <div class="col-8">
            <p-card header="車輛資料">
              <div class="flex justify-content-end mb-3">
                <p-button label="查看更多" [routerLink]="['/fleet_mgmt', activeIndex]" [link]="true" size="small"></p-button>
              </div>
              <p-dataView [value]="vehiclesData">
                <ng-template let-product pTemplate="listItem">
                  <div pRipple class="col-6 styled-box" (click)="goToVehicle(product.id)">
                    <div class="flex flex-column align-items-center xl:flex-row xl:align-items-start p-3 gap-4">
                      <img class="w-8 sm:w-3rem xl:w-3rem" [src]="'assets/image/car2.png'"/>
                      <div
                        class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                          <div class="font-bold xl:text-lg font-bold">{{ product.name }}</div>

                          <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-at text-xs"></i>
                                <span class="font-medium text-xs">{{ product.driver }}</span>
                                  </span>
                            <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="font-medium text-xs">{{ product.license_plate }}</span>
                                </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </p-dataView>
            </p-card>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="偏好設定">
        <div class="flex justify-content-center">
          <div class="col-8">
            <h2>語言偏好</h2>
            <div class="field grid">
              <label class="col-fixed font-semibold">語言</label>
              <div class="col-3">
                <p-dropdown [appendTo]="'body'" [options]="language" optionLabel="name"></p-dropdown>
              </div>
            </div>
            <p-divider></p-divider>
            <h2>主題偏好</h2>
            <div class="field grid">
              <label class="col-fixed font-semibold">主題模式</label>
              <div class="col-3">
                <p-dropdown [appendTo]="'body'" [options]="language" optionLabel="name"></p-dropdown>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

