::ng-deep .gm-style .gm-style-iw-c {
  background-color: rgba(199, 193, 193, 0.7); /* 設定透明度 */
  color: #000000; /* 文字顏色，你可以根據需要調整 */
  padding: 10px; /* 調整內距，使內容不會貼緊邊界 */
  border: none; /* 移除邊框，如果需要的話 */
  box-shadow: none; /* 移除陰影，如果需要的話 */
}

::ng-deep.gm-style .gm-style-iw-tc::after {
  background-color: rgba(199, 193, 193, 0.7);
}

::ng-deep {
  .gm-style .gm-style-iw-d::-webkit-scrollbar-track,
  .gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece {
    background: none;
  }

  .gm-style .gm-style-iw {
    font-size: 20px;
  }
}


.countdown {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 6rem;
  left: 1rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #FFFFFF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.kmh {
  position: absolute;
  width: 8rem;
  height: 3rem;
  top: 6rem;
  left: 5rem;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  color: #FFFFFF;
  text-align: left;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #9F353A;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

.func {
  position: absolute;
  top: 3rem;
  left: 20rem;
}
