<div class="overflow-x-hidden">
  <div class="grid">
    <div class="col-2">
      <p-sidebar styleClass="w-2" [visible]="true" [modal]="false" [showCloseIcon]="false" transitionOptions="0ms">
        <h3>iCar TMS 1.0</h3>
        <p-panelMenu [model]="items"></p-panelMenu>
      </p-sidebar>
    </div>
    <div class="col-10 h-screen">
      <p-splitter [panelSizes]="[70, 30]" [style]="{ height: '100%' }">
        <ng-template pTemplate>
          <google-map class="w-full" height="100%" width="100%" [center]="center" [zoom]="zoom"
                      (mapClick)="moveMap($event)"
                      (mapMousemove)="move($event)"></google-map>
        </ng-template>
        <ng-template pTemplate>
          <p-card class="w-full">
            <p-tabView>
              <p-tabPanel header="車隊查詢">
                <div class="grid">
                  <div class="col-6">
                    <p-dropdown [options]="carGroups" optionLabel="name" placeholder="選擇車隊"></p-dropdown>
                  </div>
                  <div class="col-6">
                    <p-dropdown [options]="cars" optionLabel="name" placeholder="選擇車牌"></p-dropdown>
                  </div>
                  <div class="col-6">
                    <p-calendar [showTime]="true" placeholder="選擇開始時間"></p-calendar>
                  </div>
                  <div class="col-6">
                    <p-calendar [showTime]="true" placeholder="選擇結束時間"></p-calendar>
                  </div>
                </div>
                <p-table [value]="products" [paginator]="true" [rows]="5"
                         [tableStyle]="{ 'min-width': '33rem'}">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>狀態累積</th>
                      <th>狀態</th>
                      <th>速度</th>
                      <th>地址</th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-product>
                    <tr>
                      <td>{{ product.statetime }}</td>
                      <td>{{ product.state }}</td>
                      <td>{{ product.speed }}</td>
                      <td>{{ product.addr }}</td>
                    </tr>
                  </ng-template>
                </p-table>
                <p-accordion [activeIndex]="0">
                  <p-accordionTab header="異常中心">
                    <p-card styleClass="flex justify-content-center">
                      <h2 class="text-center">溫度異常</h2>
                      <p-divider></p-divider>
                      <h2 class="text-center">0</h2><br>
                      <h2 class="text-center">台</h2>
                    </p-card>
                  </p-accordionTab>
                </p-accordion>
              </p-tabPanel>
              <p-tabPanel header="功能A">

              </p-tabPanel>
              <p-tabPanel header="功能B">

              </p-tabPanel>
            </p-tabView>
          </p-card>
        </ng-template>
      </p-splitter>
    </div>
  </div>
</div>




