<div class="overflow-y-hidden overflow-x-hidden">
  <div class="grid">
    <div class="col-12 md:col-12 lg:col-8">
      <div id="map" style="height: 95vh; width: 100%;position: relative"></div>
      <p-button (click)="showMarkDialog()" label="建立地標" id="custom-button"
                styleClass="p-button-sm bg-white p-button-raised p-button-text p-button-info"></p-button>
      <div class="func">
        <p-speedDial showIcon="pi pi-map" buttonClassName="p-button-secondary"
                     direction="right" [model]="items">
        </p-speedDial>
      </div>
      <div class="rang">
        <p-toggleButton (onChange)="toggleIsRanging()" onIcon="fas fa-ruler-horizontal"
                        offIcon="fas fa-ruler-horizontal"
                        [style]="{ width: '3em',height:'2.5rem' }"></p-toggleButton>
      </div>
      <div *ngIf="recordDistances.length >= 2" class="kmh">{{distanceText}}</div>
      <div *ngIf="selectedProduct" class="addr">{{selectedProduct.addr}}</div>
    </div>
    <div class="col-12 md:col-12 lg:col-4">
      <p-card>
        <p-tabView>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>車隊查詢</span>
            </ng-template>
            <div class="grid">
              <div class="col-12 md:col-6 lg:col-6">
                <p-dropdown [options]="carGroups" optionLabel="name" placeholder="選擇車隊"></p-dropdown>
              </div>
              <div class="col-12 md:col-6 lg:col-6">
                <p-dropdown [options]="cars" optionLabel="name" placeholder="選擇車牌"></p-dropdown>
              </div>
            </div>
            <p-table [columns]="selectedColumns"
                     [value]="transformedData"
                     [rows]="5"
                     selectionMode="single"
                     [(selection)]="selectedProduct"
                     [scrollable]="true"
                     (onRowSelect)="Select()">
              <ng-template pTemplate="caption">
                <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns"
                               (onClear)="clearMultiSelect()" [showClear]="true" [maxSelectedLabels]="4"
                               optionLabel="header" selectedItemsLabel="已選擇 {0} 個欄位"
                               placeholder="點擊選擇要顯示的欄位"></p-multiSelect>
              </ng-template>
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product let-columns="columns">
                <tr [pSelectableRow]="product">
                  <td *ngFor="let col of columns">
                    {{product[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>異常中心</span>
              <p-tag *ngIf="oddTem > 0" severity="danger" value="{{oddTem}}"></p-tag>
            </ng-template>
            <p-accordion [activeIndex]="0">
              <div class="flex justify-content-center">
                <div class="grid">
                  <div class="col-12 flex justify-content-between">
                    <h2 class="text-center">溫度異常</h2>
                    <h2 class="text-center">{{oddTem}}</h2><br>
                    <h2 class="text-center">台</h2>
                  </div>
                  <div class="col-12">
                    <p-table [value]="products" [paginator]="true" [rows]="5" selectionMode="single"
                             [(selection)]="selectedProduct"
                             (onRowSelect)="Select()">
                      <ng-template pTemplate="header">
                        <tr>
                          <th>狀態累積</th>
                          <th>狀態</th>
                          <th>速度</th>
                          <th>地址</th>
                        </tr>
                      </ng-template>
                      <ng-template pTemplate="body" let-product>
                        <tr [pSelectableRow]="product">
                          <td>{{ product.statetime }}</td>
                          <td>{{ product.state }}</td>
                          <td>{{ product.speed }}</td>
                          <td>{{ product.addr }}</td>
                        </tr>
                      </ng-template>
                    </p-table>
                  </div>
                </div>
              </div>
            </p-accordion>
          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>功能A</span>
            </ng-template>

          </p-tabPanel>
          <p-tabPanel>
            <ng-template pTemplate="header">
              <span>功能B</span>
            </ng-template>
          </p-tabPanel>
        </p-tabView>
      </p-card>
    </div>
  </div>
</div>
<p-dialog header="地標資料" [(visible)]="markDialog" [modal]="true" [style]="{ width: '20vw' }" [draggable]="false"
          [resizable]="false">
  <div class="grid">
    <div class="col-4 flex align-items-center">
      <label>地標類型</label>
    </div>
    <div class="col-8">
      <p-dropdown [options]="markType" optionLabel="name" [appendTo]="'body'">
        <ng-template pTemplate="option" let-option>
        <span>
          <i class="{{ option.icon }} mr-2"></i>
          {{ option.name }}
        </span>
        </ng-template>
        <ng-template pTemplate="selectedItem" let-selectedItem>
          <i class="{{ selectedItem.icon }} mr-2"></i>
          {{ selectedItem.name }}
        </ng-template>
      </p-dropdown>
    </div>
    <div class="col-4 flex align-items-center">
      <label>地標名稱</label>
    </div>
    <div class="col-8">
      <input type="text" pInputText/>
    </div>
    <div class="col-4 flex align-items-center">
      <label>客戶編號</label>
    </div>
    <div class="col-8">
      <input type="text" pInputText/>
    </div>
    <div class="col-4 flex align-items-center">
      <label>電話</label>
    </div>
    <div class="col-8">
      <input type="text" pInputText/>
    </div>
    <div class="col-4 flex align-items-center">
      <label>範圍</label>
    </div>
    <div class="col-8">
      <input type="text" pInputText/>
    </div>
    <div class="col-4 flex align-items-center">
      <label>描述</label>
    </div>
    <div class="col-8">
      <input type="text" pInputText/>
    </div>
    <div class="col-4 flex align-items-center">
      <label>子公司分享</label>
    </div>
    <div class="col-8">
      <p-inputSwitch></p-inputSwitch>
    </div>
    <div class="col-12 flex justify-content-end">
      <p-button label="取消" styleClass="p-button-outlined p-button-secondary mr-2"></p-button>
      <p-button label="新增" (click)="addLandMark()"></p-button>
    </div>
  </div>
</p-dialog>




