::ng-deep {
  .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #ffffff;
    border-color: #FFCD59;
    color: #FFCD59;
  }
  // 側邊欄hover
  .p-panelmenu .p-panelmenu-header:not(.p-highlight):not(.p-disabled):hover .p-panelmenu-header-content {
    background: rgba(255, 205, 89);
    border-color: #dee2e6;
    color: #495057;
  }
}

// 路線內的格式
.custom-marker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  color: #FFFFFF;
  vertical-align: middle;
}
