<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-12">
    <div class="col-12">
      <p-button icon="pi pi-arrow-left" [routerLink]="['/dispatch']" severity="secondary"
                [text]="true"></p-button>
    </div>
    <form [formGroup]="event_form">
      <div class="flex justify-content-center">
        <div class="col-8">
          <div class="col-12 flex align-items-center justify-content-start gap-2">
            <div class="text-3xl font-bold">{{event_form.controls['title'].value}}</div>
          </div>
          <p-divider class="w-full"></p-divider>
          <div class="grid nested-grid">
            <div class="col-6">
              <p-card>
                <p-tabView>
                  <p-tabPanel header="詳細資訊">
                    <div class="grid">
                      <div class="field col-12 md:col-6 lg:col-6">
                        <label class="font-semibold">名稱</label>
                        <input formControlName="title" pInputText/>
                      </div>
                      <div class="field col-12 md:col-6 lg:col-6">
                        <label class="font-semibold">運輸訂單</label>
                        <p-multiSelect formControlName="form" [options]="formList"
                                       optionLabel="name"
                                       placeholder="選擇訂單" display="chip"
                                       [showClear]="true"></p-multiSelect>
                      </div>
                      <div class="field col-12 md:col-6 lg:col-6">
                        <label class="font-semibold">司機</label>
                        <p-dropdown placeholder="選擇司機" formControlName="driver"
                                    [options]="driverData"
                                    optionLabel="name"></p-dropdown>
                      </div>
                      <div class="field col-12 md:col-6 lg:col-6">
                        <label class="font-semibold">車輛</label>
                        <p-dropdown placeholder="選擇車輛"></p-dropdown>
                      </div>
                      <div class="field col-12 md:col-6 lg:col-6">
                        <label class="font-semibold">開始時間</label>
                        <p-calendar formControlName="start_date"
                                    [appendTo]="'body'" [showTime]="true"
                                    dateFormat="yy-mm-dd">
                        </p-calendar>
                      </div>
                      <!--                      <div class="field col-12 md:col-6 lg:col-6">-->
                      <!--                        <label class="font-semibold">結束時間</label>-->
                      <!--                        <p-calendar formControlName="end_date"-->
                      <!--                                    [appendTo]="'body'" [showTime]="true"-->
                      <!--                                    dateFormat="yy-mm-dd"></p-calendar>-->
                      <!--                      </div>-->
                      <!--                      <div class="field col-12 md:col-6 lg:col-6">-->
                      <!--                        <label class="font-semibold">實際開始時間</label>-->
                      <!--                        <p-calendar [appendTo]="'body'" [showTime]="true"-->
                      <!--                                    dateFormat="yy-mm-dd"></p-calendar>-->
                      <!--                      </div>-->
                      <!--                      <div class="field col-12 md:col-6 lg:col-6">-->
                      <!--                        <label class="font-semibold">實際結束時間</label>-->
                      <!--                        <p-calendar [appendTo]="'body'" [showTime]="true"-->
                      <!--                                    dateFormat="yy-mm-dd"></p-calendar>-->
                      <!--                      </div>-->
                      <div class="col-12">
                        <p-divider></p-divider>
                        <p-button label="儲存" severity="warning" styleClass="w-full"></p-button>
                      </div>
                    </div>
                  </p-tabPanel>
                </p-tabView>
              </p-card>
            </div>
            <div class="col-6">
              <div class="grid">
                <div class="col-12">
                  <p-card>
                    <p-tabView>
                      <p-tabPanel header="運輸順序">
                        <div class="card xl:flex xl:justify-content-center">
                          <p-orderList [value]="taskList"
                                       (onSelectionChange)="onClickTask($event)"
                                       (onReorder)="onReorderTask($event)"
                                       [responsive]="true" [dragdrop]="true">
                            <ng-template let-product pTemplate="item">
                              <div class="flex flex-wrap p-2 align-items-center gap-3">
                                <div class="flex-1 flex flex-column gap-2">
                                  <span class="font-bold">{{ product.name }}</span>
                                  <div class="flex align-items-center gap-2">
                                    <i class="pi pi-calendar text-sm"></i>
                                    <span class="text-sm">指定送達時間</span>
                                  </div>
                                  <div class="flex align-items-center gap-2">
                                    <i class="pi pi-info-circle text-sm"></i>
                                    <span>{{ product.origin }}</span>
                                    <i class="pi pi-arrow-right text-sm"></i>
                                    <span>{{ product.destination }}</span>
                                  </div>
                                </div>
                              </div>
                            </ng-template>
                          </p-orderList>
                        </div>
                      </p-tabPanel>
                    </p-tabView>
                  </p-card>
                </div>
                <div class="col-12">
                  <p-card>
                    <p-tabView>
                      <p-tabPanel header="運輸貨品清單">
                        <h4 class="text-center">{{taskData.name}} {{goodsForm}}</h4>
                        <p-dataView [value]="shippingList">
                          <ng-template let-product pTemplate="listItem">
                            <div pRipple class="col-12">
                              <div
                                class="flex flex-column align-items-center xl:flex-row xl:align-items-start p-3 gap-4">
                                <img class="w-2 sm:w-2rem xl:w-2rem" [src]="'assets/image/warehouse.png'"/>
                                <div
                                  class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                                  <div class="flex flex-column align-items-center xl:align-items-start gap-1">
                                    <div class="text-sm font-bold">{{ product.product_name }}</div>
                                    <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-inbox text-xs"></i>
                                <span class="text-xs">{{ product.qty }}</span>
                                  </span>
                                      <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="text-xs">{{ product.tonnage }} 噸</span>
                                </span>
                                      <span class="flex align-items-center gap-2">
                                <i class="pi pi-truck text-xs"></i>
                                <span class="text-xs">板車</span>
                                  </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </ng-template>
                        </p-dataView>
                      </p-tabPanel>
                    </p-tabView>
                  </p-card>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
