$white: #FCFCFC;

.total-carbon {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90deg, #ce4257, #720026);
  color: $white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.co2-ed {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90deg, #ce4257, #720026);
  color: $white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0; // 左上和右上是圓角，左下右下不是
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.power {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90deg, #3fc1c0, #0899ba);
  color: $white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.iot {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90deg, #3fc1c0, #0899ba);
  color: $white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.carbon-neutral {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90deg, #34a0a4, #1e6091);
  color: $white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.green-energy {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90deg, #6a994e, #386641);
  color: $white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.energy-mgmt {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90deg, #6a994e, #386641);
  color: $white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.carbon-rights {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90deg, #8b687f, #7b435b);
  color: $white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.cr {
  font-family: 'Noto Sans TC', sans-serif;
  background: linear-gradient(90deg, #8b687f, #7b435b);
  color: $white;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.none {
  font-family: 'Noto Sans TC', sans-serif;
  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px 5px 0 0;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.map-content {
  background: #ffffff;
  color: #495057;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}
