<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-10">
    <div class="flex flex-column">
      <div class="flex justify-content-between">
        <div class="col-2 total-carbon">
          <div class="flex flex-column gap-2">
            <span class="text-xl">總碳量</span>
            <span class="text-3xl">26.21 t</span>
          </div>
        </div>
        <div class="col-2 power">
          <div class="flex flex-column gap-2">
            <span class="text-xl">累積用電量</span>
            <span class="text-3xl">41448 kWh</span>
          </div>
        </div>
        <div class="col-2 carbon-neutral">
          <div class="flex flex-column gap-2">
            <span class="text-xl">碳中和</span>
            <span class="text-3xl">3.93 %</span>
          </div>
        </div>
        <div class="col-2 green-energy">
          <div class="flex flex-column gap-2">
            <span class="text-xl">綠能減碳量</span>
            <span class="text-3xl">0.63 t</span>
          </div>
        </div>
        <div class="col-2 carbon-rights">
          <div class="flex flex-column gap-2">
            <span class="text-xl">碳權交易</span>
            <span class="text-3xl">0.4 t</span>
          </div>
        </div>
      </div>
      <div class="grid mt-2">
        <div class="col-4">
            <div class="total-carbon flex flex-column gap-2">
              <span class="text-xl">碳排揭露</span>
            </div>
          <p-card>
            <div class="card">
              <p-chart type="line" [data]="data1" [options]="options1"></p-chart>
            </div>
            <div class="card flex justify-content-center">
              <p-chart type="pie" [data]="data2" [options]="options2"></p-chart>
            </div>
          </p-card>
        </div>
        <div class="col-4">
          <p-card></p-card>
        </div>
        <div class="col-4">
          <p-card></p-card>
        </div>
        <div class="col-4">
          <p-card></p-card>
        </div>
        <div class="col-4">
          <p-card></p-card>
        </div>
        <div class="col-4">
          <p-card></p-card>
        </div>
      </div>
    </div>
  </div>
</div>
