<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-12">
    <p-tabView>
      <p-tabPanel header="車機資料">
        <div class="col-12">
          <p-button icon="pi pi-arrow-left" [routerLink]="['/fleet_mgmt', activeIndex]"
                    styleClass="p-button-lg p-button-rounded p-button-secondary p-button-text"></p-button>
        </div>
        <form [formGroup]="editGpsDevice_form">
          <div class="flex justify-content-center">
            <div class="col-6">
              <div class="grid row-gap-2 flex justify-content-center">
                <div class="col-3 flex align-items-center">
                  <p-image src="assets/image/circle.png" alt="Image" width="100%" [preview]="true"></p-image>
                </div>
                <div class="ml-auto col-9 flex align-items-center">
                  <label class="text-6xl font-bold">{{editGpsDevice_form.controls['sid'].value}}</label>
                </div>
<!--                <div class="field col-12 md:col-6 lg:col-6">-->
<!--                  <label class="font-semibold">車機序號</label>-->
<!--                  <input pInputText formControlName="sid"/>-->
<!--                </div>-->
                <div class="field col-12 md:col-6 lg:col-6">
                  <label class="font-semibold">廠商</label>
                  <input pInputText formControlName="firm"/>
                </div>
                <div class="field col-12 md:col-6 lg:col-6">
                  <label class="font-semibold">型號</label>
                  <input pInputText formControlName="model"/>
                </div>
                <div class="col-12 flex justify-content-end">
                  <button pButton pRipple label="儲存" class="p-button-success"></button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

