<p-toast></p-toast>
<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-12">
    <div class="col-12">
      <p-button icon="pi pi-arrow-left" [routerLink]="['/fleet_mgmt', activeIndex]"
                [rounded]="true" severity="secondary" [text]="true"></p-button>
    </div>
    <form [formGroup]="editGpsDevice_form">
      <div class="flex justify-content-center">
        <div class="col-8">
          <div class="grid">
            <div class="col-3 flex align-items-center">
              <p-image src="assets/image/circle.png" alt="Image" width="100" [preview]="true"></p-image>
            </div>
            <div class="col-8 flex align-items-center justify-content-start">
              <label class="text-6xl font-bold">{{editGpsDevice_form.controls['sid'].value}}</label>
            </div>
            <div class="ml-auto col-1 flex align-items-center">
              <p-confirmDialog #cd [style]="{ width: '40vw' }">
                <ng-template pTemplate="footer">
                  <p-button (click)="cd.reject()" label="取消" icon="pi pi-times" severity="secondary"></p-button>
                  <p-button (click)="cd.accept()" label="確定" icon="pi pi-check" severity="warning"></p-button>
                </ng-template>
              </p-confirmDialog>
              <p-button (click)="deleteGpsDeviceRequest()" icon="pi pi-trash" size="large" [rounded]="true"
                        severity="danger" [text]="true"></p-button>
            </div>
            <div class="col-12">
              <p-divider></p-divider>
              <p-card>
                <p-tabView>
                  <p-tabPanel header="車機資料">
                    <div class="grid">
                      <div class="field col-12 md:col-6 lg:col-6">
                        <label class="font-semibold">廠商</label>
                        <input pInputText formControlName="firm"/>
                      </div>
                      <div class="field col-12 md:col-6 lg:col-6">
                        <label class="font-semibold">型號</label>
                        <input pInputText formControlName="model"/>
                      </div>
                      <div class="col-12 flex justify-content-end">
                        <button pButton pRipple label="儲存" class="p-button-warning"></button>
                      </div>
                    </div>
                  </p-tabPanel>
                </p-tabView>
              </p-card>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

