.relative {
  position: relative;
}

.toggle-button {
  position: absolute;
  top: 0;
  left: -70px;
}

.additional-content {
}

::ng-deep {
  .p-button.p-button-text {
    background: 0;

    &:focus {
      box-shadow: none;
    }
  }
}
