.relative {
  position: relative;
}

.toggle-button {
  position: absolute;
  top: 0;
  left: -70px; /* Adjust the position as needed */
}

.additional-content {
  margin-top: 30px; /* Adjust the margin as needed */
}

::ng-deep {
  .p-button.p-button-text {
    background: 0;

    &:focus {
      box-shadow: none;
    }
  }
}
