<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-8">
    <p-tabView>
      <p-tabPanel header="派工與調度">
        <p-card header="派工與調度（貨物運輸訂單）">
          <p-tabView>
            <p-tabPanel header="所有工作">
              <div class="flex justify-content-end mb-3">
                <p-button (click)="showListBtn()" icon="pi pi-list" severity="info" [text]="true" styleClass="mr-2"></p-button>
                <p-button (click)="closeListBtn()" icon="pi pi-calendar" severity="info" [text]="true" styleClass="mr-5"></p-button>
                <p-button icon="pi pi-plus" (click)="showAddEventDialog('add')" severity="info" [text]="true"></p-button>
              </div>
              <ng-container *ngIf="showList == true">
                <p-dataView [value]="dispatchEvents">
                  <ng-template let-product pTemplate="listItem">
                    <div pRipple class="col-6 styled-box" (click)="goToDispatchView(product.id)">
                      <div class="flex flex-column xl:flex-row xl:align-items-start p-3 gap-4">
                        <div
                          class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                          <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                            <div class="text-lg font-bold">{{ product.title }}</div>
                            <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-at text-xs"></i>
                                <span class="font-medium text-xs">{{ product.driver }}</span>
                                  </span>
                              <span class="flex align-items-center gap-2">
                                <i class="pi pi-calendar text-xs"></i>
                                <span class="font-medium text-xs">{{ product.start }}</span>
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-template>
                </p-dataView>
              </ng-container>
              <ng-container *ngIf="showList == false">
                <div class="flex justify-content-center">
                  <div class="col-12">
                    <full-calendar
                      [options]="calendarOptions"
                    ></full-calendar>
                  </div>
                </div>
              </ng-container>
            </p-tabPanel>
            <p-tabPanel header="未進行">
            </p-tabPanel>
            <p-tabPanel header="進行中">
            </p-tabPanel>
            <p-tabPanel header="已完成">
            </p-tabPanel>
          </p-tabView>
        </p-card>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>

<form [formGroup]="event_form">
  <p-dialog header="{{dialogHeader}}" [(visible)]="addEventVisible" [modal]="true" [style]="{ width: '50vw' }"
            [draggable]="false" [resizable]="false">
    <div class="grid">
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">名稱</label>
        <input formControlName="title" pInputText/>
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">運輸訂單</label>
        <p-multiSelect placeholder="選擇訂單" [options]="formList"
                       display="chip" [showClear]="true"></p-multiSelect>
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">司機</label>
        <p-dropdown placeholder="選擇司機" formControlName="driver" [options]="driverData" optionLabel="name"></p-dropdown>
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">車牌</label>
        <input pInputText [disabled]="true"/>
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">板台號</label>
        <p-dropdown placeholder="選擇板台"></p-dropdown>
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">開始時間</label>
        <p-calendar formControlName="start_date"
                    [appendTo]="'body'" [showTime]="true"></p-calendar>
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">結束時間</label>
        <p-calendar formControlName="end_date"
                    [appendTo]="'body'" [showTime]="true"></p-calendar>
      </div>
      <div *ngIf="dialogHeader == '編輯任務'" class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">實際開始時間</label>
        <p-calendar [appendTo]="'body'" [showTime]="true"></p-calendar>
      </div>
      <div *ngIf="dialogHeader == '編輯任務'" class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">實際結束時間</label>
        <p-calendar [appendTo]="'body'" [showTime]="true"></p-calendar>
      </div>
    </div>
    <div class="flex justify-content-end">
      <p-button label="取消" severity="secondary" styleClass="mr-2" [outlined]="true"></p-button>
      <p-button *ngIf="dialogHeader == '編輯任務'" label="儲存" severity="warning"></p-button>
      <p-button *ngIf="dialogHeader != '編輯任務'" label="新增" severity="warning"></p-button>
    </div>
  </p-dialog>
</form>
