::ng-deep {

  .fc.fc-theme-standard .fc-toolbar .fc-button:disabled {
    opacity: 0.6;
    color: #03071e;
    background: rgba(255, 205, 89);
    border: 2px solid rgba(34, 34, 59, 0.3);
  }

  .fc.fc-theme-standard .fc-toolbar .fc-button {
    color: #03071e;
    background: rgba(255, 205, 89);
    border: 2px solid rgba(34, 34, 59, 0.3);
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
  }
}
