<p-toast></p-toast>
<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-12 md:col-12 lg:col-8">
    <p-card header="派工與調度（貨物運輸計劃）">
      <p-tabView>
        <p-tabPanel header="所有工作">
          <div class="flex justify-content-end mb-3">
            <p-button (click)="showListBtn()" icon="pi pi-list" [text]="true" styleClass="mr-2"></p-button>
            <p-button (click)="closeListBtn()" icon="pi pi-calendar" [text]="true" styleClass="mr-5"></p-button>
            <p-button *ngIf="selectedEvent.length > 0" icon="pi pi-times-circle" [text]="true"
                      severity="danger " pTooltip="作廢"></p-button>
            <p-button icon="pi pi-plus" (click)="showAddEventDialog('add')" [text]="true"></p-button>
          </div>
          <ng-container *ngIf="showList == true">
            <p-table [value]="eventData"
                     [(selection)]="selectedEvent"
                     (selectionChange)="handleCheckbox($event)"
                     [paginator]="true"
                     [rows]="5"
                     [showCurrentPageReport]="true"
                     [rowsPerPageOptions]="[5, 10, 20]"
                     dataKey="id"
                     styleClass="p-datatable-sm">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 1rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                  </th>
                  <th>開始時間</th>
                  <th class="pl-4">派工資訊</th>
                  <th>司機</th>
                  <th>車輛</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-product>
                <tr class="styled-box">
                  <td>
                    <p-tableCheckbox [value]="product"></p-tableCheckbox>
                  </td>
                  <td class="text-sm" (click)="goToDispatchView(product.id)">{{ product.start }}</td>
                  <td (click)="goToDispatchView(product.id)">
                    <div class="flex align-items-center p-3 gap-4">
                      <div
                        class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                        <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                          <div class="font-bold">{{ product.title }}</div>
                          <div class="flex align-items-center gap-3">
                                <span *ngFor="let form of product.form" class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="font-medium text-xs">{{ form.name }}</span>
                                </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-sm" (click)="goToDispatchView(product.id)">
                    <img src="assets/image/car2.png" width="32" style="vertical-align: middle"/>
                    <span class="ml-2 vertical-align-middle">{{ product.driver_name }}</span>
                  </td>
                  <td class="text-sm" (click)="goToDispatchView(product.id)">
                    <img src="assets/image/sport-car.png" width="32" style="vertical-align: middle"/>
                    <span class="ml-2 vertical-align-middle">{{ product.vehicle_name }}</span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <!--                <p-dataView [value]="dispatchEvents">-->
            <!--                  <ng-template let-product pTemplate="listItem">-->
            <!--                    <div pRipple class="col-12 styled-box" (click)="goToDispatchView(product.id)">-->
            <!--                      <div class="flex flex-column xl:flex-row xl:align-items-start p-3 gap-4">-->
            <!--                        <div-->
            <!--                          class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">-->
            <!--                          <div class="flex flex-column align-items-center xl:align-items-start gap-3">-->
            <!--                            <div class="text-lg font-bold">{{ product.title }}</div>-->
            <!--                            <div class="flex align-items-center gap-3">-->
            <!--                                <span class="flex align-items-center gap-2">-->
            <!--                                <i class="pi pi-at text-xs"></i>-->
            <!--                                <span class="font-medium text-xs">{{ product.driver }}</span>-->
            <!--                                  </span>-->
            <!--                              <span class="flex align-items-center gap-2">-->
            <!--                                <i class="pi pi-calendar text-xs"></i>-->
            <!--                                <span class="font-medium text-xs">{{ product.start }}</span>-->
            <!--                                </span>-->
            <!--                            </div>-->
            <!--                          </div>-->
            <!--                        </div>-->
            <!--                      </div>-->
            <!--                    </div>-->
            <!--                  </ng-template>-->
            <!--                </p-dataView>-->
          </ng-container>
          <ng-container *ngIf="showList == false">
            <div class="flex justify-content-center">
              <div class="col-12">
                <full-calendar
                  [options]="calendarOptions"
                ></full-calendar>
              </div>
            </div>
          </ng-container>
        </p-tabPanel>
        <p-tabPanel header="進行中">
        </p-tabPanel>
        <p-tabPanel header="未進行">
        </p-tabPanel>
        <p-tabPanel header="已完成">
        </p-tabPanel>
      </p-tabView>
    </p-card>
  </div>
</div>

<form [formGroup]="event_form">
  <p-dialog header="{{dialogHeader}}" [(visible)]="addEventVisible" [modal]="true" [style]="{ width: '50vw' }"
            [draggable]="false" [resizable]="false">
    <div class="grid">
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">名稱</label>
        <input formControlName="title" pInputText/>
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">託運訂單</label>
        <p-multiSelect formControlName="form" placeholder="選擇訂單"
                       [options]="formData" optionLabel="name"
                       display="chip" [showClear]="true"></p-multiSelect>
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">司機</label>
        <p-dropdown placeholder="選擇司機" formControlName="driver" appendTo="body"
                    [options]="driverData" optionLabel="name"></p-dropdown>
      </div>
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">車輛</label>
        <p-dropdown placeholder="選擇車輛" formControlName="vehicle" appendTo="body"
                    [options]="vehiclesData" optionLabel="name"></p-dropdown>
      </div>
      <!--      <div class="field col-12 md:col-6 lg:col-6">-->
      <!--        <label class="font-semibold">板車</label>-->
      <!--        <p-multiSelect placeholder="選擇板車"></p-multiSelect>-->
      <!--      </div>-->
      <div class="field col-12 md:col-6 lg:col-6">
        <label class="font-semibold">開始時間</label>
        <p-calendar formControlName="start_time"
                    [minDate]="minDate"
                    [appendTo]="'body'"
                    [showTime]="true"></p-calendar>
      </div>
      <!--      <div class="field col-12 md:col-6 lg:col-6">-->
      <!--        <label class="font-semibold">結束時間</label>-->
      <!--        <p-calendar formControlName="end_date"-->
      <!--                    [appendTo]="'body'" [showTime]="true"></p-calendar>-->
      <!--      </div>-->
      <!--      <div *ngIf="dialogHeader == '編輯任務'" class="field col-12 md:col-6 lg:col-6">-->
      <!--        <label class="font-semibold">實際開始時間</label>-->
      <!--        <p-calendar [appendTo]="'body'" [showTime]="true"></p-calendar>-->
      <!--      </div>-->
      <!--      <div *ngIf="dialogHeader == '編輯任務'" class="field col-12 md:col-6 lg:col-6">-->
      <!--        <label class="font-semibold">實際結束時間</label>-->
      <!--        <p-calendar [appendTo]="'body'" [showTime]="true"></p-calendar>-->
      <!--      </div>-->
    </div>
    <div class="flex justify-content-end">
      <p-button label="取消" severity="secondary" styleClass="mr-2" [outlined]="true"></p-button>
      <p-button *ngIf="dialogHeader == '編輯任務'" label="儲存" severity="warning"></p-button>
      <p-button *ngIf="dialogHeader != '編輯任務'" label="新增" (click)="postTransportTask()" severity="warning"></p-button>
    </div>
  </p-dialog>
</form>
