<p-toast></p-toast>
<div class="overflow-x-hidden flex justify-content-center">
  <div class="col-12">
    <div class="col-12">
      <p-button icon="pi pi-arrow-left" [routerLink]="['/customer']" severity="secondary" [text]="true"></p-button>
    </div>

    <div class="flex justify-content-center">
      <div class="col-8">
        <div class="grid row-gap-2 flex justify-content-center">
          <div class="col-3 flex align-items-center">
            <p-image src="assets/image/car3.jpg" alt="Image" width="100" [preview]="true"></p-image>
          </div>
          <div class="col-8 flex align-items-center justify-content-start">
            <label class="text-6xl font-bold">{{editClient_form.controls['name'].value}}</label>
          </div>
          <div class="ml-auto col-1 flex align-items-center">
            <p-confirmDialog #cd [style]="{ width: '40vw' }">
              <ng-template pTemplate="footer">
                <p-button (click)="cd.reject()" label="取消" icon="pi pi-times" severity="secondary"></p-button>
                <p-button (click)="cd.accept()" label="確定" icon="pi pi-check" severity="warning"></p-button>
              </ng-template>
            </p-confirmDialog>
            <p-button (click)="deleteClientRequest()" icon="pi pi-trash" size="large" [rounded]="true"
                      severity="danger" [text]="true"></p-button>
          </div>
          <div class="col-12">
            <p-card>
              <p-tabView>
                <p-tabPanel header="基本資料">
                  <form [formGroup]="editClient_form">
                    <div class="grid">
                      <div class="field col-6">
                        <label class="font-semibold">客戶名稱</label>
                        <input pInputText formControlName="name"/>
                      </div>
                      <div class="field col-6">
                        <label class="font-semibold">電話</label>
                        <input pInputText formControlName="phone_number"/>
                      </div>
                      <div class="col-12 flex justify-content-end">
                        <p-button label="儲存" (click)="updateClientRequest(id, editClient_form.value)"></p-button>
                      </div>
                    </div>
                  </form>
                </p-tabPanel>
                <p-tabPanel header="倉儲">
                  <div *ngIf="!showWarehouseDetailPage">
                    <div class="flex justify-content-end mb-3">
                      <p-button icon="pi pi-plus" severity="warning" [text]="true"></p-button>
                    </div>
                    <p-dataView [value]="warehousesData">
                      <ng-template let-product pTemplate="listItem">
                        <div pRipple class="col-6 styled-box" (click)="showWarehouseView(product.id)">
                          <div class="flex flex-column xl:flex-row xl:align-items-start p-3 gap-4">
                            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
                              <div class="xl:text-lg font-bold">{{ product.name }}</div>
                              <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-at text-xs"></i>
                                <span class="font-medium text-xs">{{ product.manager }}</span>
                                  </span>
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="font-medium text-xs">{{ product.address }}</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </p-dataView>
                  </div>
                  <div *ngIf="showWarehouseDetailPage">
                    <p-button icon="pi pi-arrow-left" (click)="backCompany()" [text]="true" severity="secondary"
                              styleClass="mb-2"></p-button>
                    <app-warehouse [warehouseId]="selectedWarehouseId"></app-warehouse>
                  </div>
                </p-tabPanel>
                <p-tabPanel header="貨物品項">
                  <div class="flex justify-content-end mb-3">
                    <p-button (click)="openGoodsDialog(false)" icon="pi pi-plus" severity="warning"
                              [text]="true"></p-button>
                  </div>
                  <p-dataView [value]="goodsData">
                    <ng-template let-product pTemplate="listItem">
                      <div pRipple class="col-6 styled-box" (click)="openGoodsDialog(true, product.id)">
                        <div class="flex flex-column align-items-center xl:flex-row xl:align-items-start p-3 gap-4">
                          <img class="w-8 sm:w-5rem xl:w-3rem" [src]="'assets/image/warehouse.png'"/>
                          <div
                            class="flex sm:flex-row justify-content-between align-items-center xl:align-items-start flex-1 gap-4">
                            <div class="flex flex-column align-items-center xl:align-items-start gap-3">
                              <div class="font-bold xl:text-lg font-bold">{{ product.name }}</div>
                              <div class="flex align-items-center gap-3">
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-inbox text-xs"></i>
                                <span class="font-medium text-xs">單位: {{ product.unit }}</span>
                                  </span>
                                <span class="flex align-items-center gap-2">
                                <i class="pi pi-tag text-xs"></i>
                                <span class="font-medium text-xs">{{ product.spec }}</span>
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </ng-template>
                  </p-dataView>
                </p-tabPanel>
              </p-tabView>
            </p-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<p-dialog header="{{ editing ? '編輯貨物品項' : '新增貨物品項' }}" [(visible)]="goodsDialogVisible" [modal]="true"
          [style]="{ width: '36vw' }"
          [draggable]="false" [resizable]="false">
  <form [formGroup]="addGoods_form">
    <div *ngIf="editing" class="flex align-items-center p-3 gap-4">
      <img class="w-3rem" [src]="'assets/image/warehouse.png'"/>
      <div class="text-lg font-bold">{{addGoods_form.controls['name'].value}}</div>
      <div class="ml-auto">
        <p-button icon="pi pi-trash" severity="danger" [text]="true"></p-button>
      </div>
    </div>
    <div class="grid">
      <div *ngIf="editing" class="col-12">
        <p-divider></p-divider>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label class="font-semibold">名稱</label>
          <input formControlName="name" pInputText/>
        </div>
      </div>
      <div class="col-12 md:col-6 lg:col-6">
        <div class="field">
          <label class="font-semibold">單位</label>
          <input formControlName="unit" pInputText/>
        </div>
      </div>
      <div class="col-12">
        <div class="field">
          <label class="font-semibold">規格</label>
          <input formControlName="spec" pInputText/>
        </div>
      </div>
      <div class="col-12 flex justify-content-end">
        <p-button label="取消" (click)="goodsDialogVisible = false" [outlined]="true" severity="secondary"
                  styleClass="mr-2"></p-button>
        <p-button label="{{ editing ? '儲存' : '新增' }}" severity="warning"></p-button>
      </div>
    </div>
  </form>
</p-dialog>
