<div class="flex">
  <div class="fixed flex">
    <div class="justify-content-start">
      <div class="flex align-items-center">
        <p-button icon="pi pi-bars" severity="warning" [text]="true" (click)="sideVisible = true"></p-button>
        <p-button [text]="true" routerLink="/main">
          <img alt="logo" src="assets/image/panda.png" style="width: 1.5rem"/>
          <span class="ml-2 font-bold text-yellow-400">SkyNetPanda</span>
        </p-button>
      </div>
    </div>
    <div class="ml-auto flex align-items-center">
      <p-button icon="pi pi-cog" severity="warning" [text]="true" routerLink="/basic_data"></p-button>
      <p-button (click)="menu.toggle($event)"  [text]="true" styleClass="mr-2">
        <img alt="user" src="assets/image/car2.png"  style="width: 1.5rem"/>
      </p-button>
      <p-menu #menu [model]="userItems" [popup]="true">
      </p-menu>
    </div>
  </div>
</div>
<p-sidebar [(visible)]="sideVisible" position="left">
<!--  <div class="flex justify-content-between">-->
<!--    <div>-->
<!--      <h3>iCar TMS 1.0</h3>-->
<!--    </div>-->
<!--  </div>-->
  <p-panelMenu [model]="sidebarMenu"></p-panelMenu>
  <div class="mt-5">
    <span class="pi pi-circle-fill text-green-400 mr-1">已完成</span>
    <span class="pi pi-circle-fill text-cyan-300 mr-1">無連接</span>
    <span class="pi pi-circle-fill text-pink-300 mr-1">連接API</span>
    <span class="pi pi-circle mr-3">未開發</span>
    <p-button icon="pi pi-user" (click)="test_menu.toggle($event)" [text]="true" styleClass="text-white"></p-button>
  </div>
</p-sidebar>
<p-menu #test_menu [model]="testMenu" [popup]="true"></p-menu>
