<div class="fixed">
<p-button icon="pi pi-home" styleClass="p-button-secondary p-button-text" routerLink="/main"></p-button>
<p-button type="button" styleClass="p-button-secondary p-button-text" (click)="sideVisible = true" icon="pi pi-bars"></p-button>
</div>
  <p-sidebar [(visible)]="sideVisible" position="left">
  <div class="flex justify-content-between">
    <div>
      <h3>iCar TMS 1.0</h3>
    </div>
  </div>
  <p-panelMenu [model]="sidebarMenu"></p-panelMenu>
  <div class="mt-5">
    <span class="pi pi-circle-fill text-green-400 mr-1">已完成</span>
    <span class="pi pi-circle-fill text-yellow-400 mr-1">未完成</span>
    <span class="pi pi-circle mr-3">未開發</span>
    <p-button icon="pi pi-user" (click)="menu.toggle($event)" styleClass="text-white p-button-rounded p-button-info p-button-text"></p-button>
  </div>
</p-sidebar>
<p-menu #menu [model]="testMenu" [popup]="true"></p-menu>
