<div class="overflow-x-hidden">
    <div class="col-12">
        <p-table>
            <ng-template pTemplate="caption">
                <div class="flex align-items-center justify-content-between">
                    溫度異常
                    <p-toggleButton onIcon="pi pi-chevron-left" offIcon="pi pi-chevron-right" class="mb-2"
                                    [ngModel]="false"
                                    (ngModelChange)="toggleSidebar()"></p-toggleButton>
                </div>
            </ng-template>
        </p-table>
    </div>
    <div class="flex justify-content-between">
        <div [ngClass]="getMiddleDivClass()">
            <p-card>
                <p-table [value]="vehiclesData">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>車牌</th>
                            <th>姓名</th>
                            <th>累計時間</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-data>
                        <tr>
                            <td>{{data.license_plate}}</td>
                            <td>{{data.driver}}</td>
                            <td> - </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-card>
        </div>
        <div class="col-12 md:col-12 lg:col-3" *ngIf="sidebarRightOpen">
            <div [ngClass]="{'sidebar-open': sidebarRightOpen}">
                <p-card *ngIf="sidebarRightOpen" header="車隊查詢">
                    <div class="grid">
                        <div class="col-6">
                            <p-dropdown optionLabel="name" placeholder="選擇車隊" [appendTo]="'body'"></p-dropdown>
                        </div>
                        <div class="col-6">
                            <p-dropdown [options]="cars"
                                        (click)="getAllVehiclesRequest()"
                                        optionLabel="name"
                                        placeholder="選擇車牌" [appendTo]="'body'"></p-dropdown>
                        </div>
                        <div class="col-6">
                            <p-calendar [showTime]="true" [ngModel]="startDate" (onSelect)="onStartDateChange($event)"
                                        [defaultDate]="startDate" [maxDate]="maxDate"
                                        placeholder="選擇開始時間" [appendTo]="'body'"></p-calendar>
                        </div>
                        <div class="col-6">
                            <p-calendar [showTime]="true" [ngModel]="endDate" (onSelect)="onEndDateChange($event)"
                                        [defaultDate]="maxDate" [maxDate]="maxDate"
                                        placeholder="選擇結束時間" [appendTo]="'body'"></p-calendar>
                        </div>
                        <div class="col-12 flex justify-content-end">
                            <p-button label="查詢"></p-button>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>
